$font-family-base: 'Mukta Mahee';

$primary: black;
$primary-accent: #fff;
$secondary: #fff;

$border-radius: 0.3125rem;

$btn-padding-y: 0.3125rem;
$btn-padding-x: 0.9375rem;

$action-bar-width: 56px;
$action-bar-width-expanded: 220px;
$action-bar-background: linear-gradient(to bottom, $primary, $primary-accent);

$action-bar-item-height: $action-bar-width;
