<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <h1 class="text-center">Liste des fournisseurs</h1>
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Nom</th>
          <th class="text-center">Nom de la societe</th>
          <th class="text-center">Date d'inscription</th>
          <th class="text-center">Numero de telephone</th>
          <th class="text-center">Addresse</th>
          <th class="text-center">Remarque</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of suppliers">
          <td>{{ client.id }}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.nameOfCompany }}</td>
          <td>{{ client.dateInscription }}</td>
          <td>{{ client.phoneNumber }}</td>
          <td>{{ client.address }}</td>
          <td>{{ client.note }}</td>
          <td>
            <button type="button" class="btn btn-info btn-sm mr-2" (click)="showEditGroupeForm(client)">تغيير</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="detailSupplier(client)">الحساب</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="removeGroupe(client)">حذف</button>
          </td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-success" (click)="showAddClientForm()">Add New Client</button>
      <div class="mt-4">
        <form *ngIf="supplierForm">
          <h2>Add New Client</h2>
          <p>Name : <input type="text" name="name" [(ngModel)]="newSupplier.name"/></p>
          <p>Company name: <input type="text" name="nameOfCompany" [(ngModel)]="newSupplier.nameOfCompany"/></p>
          <p>Phone number : <input type="text" name="phoneNumber" [(ngModel)]="newSupplier.phoneNumber"/></p>
          <p>Adress : <input type="text" name="address" [(ngModel)]="newSupplier.address"/></p>
          <p>Note : <textarea name="note"
                              rows="1" cols="33" [(ngModel)]="newSupplier.note"></textarea></p>
          <p>
            <button type="button" class="btn btn-primary mr-2" (click)="saveClient(newSupplier)">Submit</button>
            <button type="button" class="btn btn-warning" (click)="cancelNewGroupe()">Cancel</button>
          </p>
        </form>
        <form *ngIf="editSupplierForm">
          <h2>Edit Client</h2>
          <p>Name : <input type="text" name="name" [(ngModel)]="editSupplier.name"/></p>
          <p>Company name: <input type="text" name="nameOfCompany" [(ngModel)]="editSupplier.nameOfCompany"/></p>
          <p>Phone number : <input type="text" name="phoneNumber" [(ngModel)]="editSupplier.phoneNumber"/></p>
          <p>Adress : <input type="text" name="address" [(ngModel)]="editSupplier.address"/></p>
          <p>Note : <input type="text" name="note" [(ngModel)]="editSupplier.note"/></p>
          <p>
            <button type="button" class="btn btn-primary mr-2" (click)="updateClient()">Submit</button>
            <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
