<div class="modal-header">
  <h4 class="modal-title"
      id="modal-title">{{ "تفاصيل الفاتتورة" | translate }}</h4>
  <button type="button" class="close" style="padding: 0px;margin: 0px;color: red" (click)="modal.close()">
    <span aria-hidden="true" float="left">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div id="demo">
    <div style="display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;">
      <div>
        <h3>{{selectedRow.client.name}} : الزبون </h3>
      </div>
      <div>
        <img src="../../../../assets/images/new_logo.png" style="max-height: 120px;
    max-width: 120px;
    margin-bottom: 20px;">
      </div>
      <div>
        <h3>   {{selectedRow.dateCreation}} : بتاريخ </h3>
      </div>
    </div>

    <div>
      <table style="width: 100%;
  border-collapse: collapse;">
        <tr>
          <th style="border: 1px solid black;"> السعر الاجمالي</th>
          <th style="border: 1px solid black;"> سعر الفرد</th>
          <th style="border: 1px solid black;">الكمية</th>
          <th style="border: 1px solid black;">المنتج</th>
        </tr>
        <tr *ngFor="let orderItem of invoiceItems">
          <td style="border: 1px solid black;">{{ orderItem.salePrice * orderItem.quantity }}</td>
          <td style="border: 1px solid black;">{{orderItem.salePrice}}</td>
          <td style="border: 1px solid black;">{{orderItem.quantity}}</td>
          <th style="border: 1px solid black;" scope="row">{{orderItem.product.category.label}}({{orderItem.product.label}})</th>
        </tr>
        <tr>
          <td style="border: 1px solid black;"><b>{{selectedRow.totalAmount}}</b></td>
          <td style="border: 1px solid black;"><b>المجموع</b></td>
          <td style="border: 1px solid black;"></td>
          <td style="border: 1px solid black;"></td>
        </tr>
        <tr>
          <td style="border: 1px solid black;"><b>{{selectedRow.note}}</b></td>
          <td style="border: 1px solid black;"><b>الملاحظات</b></td>
          <td style="border: 1px solid black;"></td>
          <td style="border: 1px solid black;"></td>
        </tr>
      </table>
    </div>
  </div>
  <button class="btn btn-primary" printSectionId="demo" ngxPrint>{{downloadPdf}}</button>
</div>
