<div class="modal-header">
  <h4 class="modal-title"
      id="modal-title">{{ "معاملة جديدة" | translate }}</h4>
  <button type="button" class="close" style="padding: 0px;margin: 0px;color: red" (click)="modal.close()">
    <span aria-hidden="true" float="left">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div style="display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	margin-bottom: 4px;">

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" [checked]="transaction.toMe === false" (click)="selectCheckBox(false)">
      <label class="form-check-label">صرف</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" [checked]="transaction.toMe === true" (click)="selectCheckBox(true)">
      <label class="form-check-label">دخل</label>
    </div>

    <div class="form-group">
      <h6> المبلغ بالأوقية </h6>
      <input type="number" [(ngModel)]="transaction.amount" class="form-control"  placeholder="المبلغ بالأوقية">
    </div>
    <div class="form-group">
      <h6>  المبلغ بالدرهم </h6>
      <input type="number" [(ngModel)]="transaction.devise" class="form-control"  placeholder="  المبلغ بالدرهم  ">
    </div>

    <h6>الملاحظات :</h6>
    <textarea class="form-control" [(ngModel)]="transaction.note" id="exampleFormControlTextarea1" rows="3"></textarea>

  </div>
</div>
<div class="modal-footer">
  <a (click)="modal.dismiss()">
    <button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
      {{ "الغاء" | translate }}
    </button>
  </a>
  <a (click)="createOrder()">
    <button class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn"
            [disabled]="transaction.devise == 0 && transaction.amount == 0">
      {{ "حفظ" | translate }}
    </button>
  </a>
</div>
