<div class="modal-header">
  <h4 class="modal-title"
      id="modal-title">{{ "معاملة جديدة" | translate }}</h4>
  <button type="button" class="close" style="padding: 0px;margin: 0px;color: red" (click)="modal.close()">
    <span aria-hidden="true" float="left">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div style="display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	margin-bottom: 4px;">

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" [checked]="selectedRow.toMe === false" (click)="selectCheckBox(false)">
      <label class="form-check-label">ليست لصالح الموسسة</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" [checked]="selectedRow.toMe === true" (click)="selectCheckBox(true)">
      <label class="form-check-label">لصالح الموسسة</label>
    </div>

    <select class="form-control" [(ngModel)]="selectedRow.owner">
      <option value="CLIENT">زبون</option>
      <option value="SUPPLIER">مورد</option>
    </select>

    <div *ngIf="selectedRow.owner == 'CLIENT'">
      <h6>الزبون :</h6>
      <p-multiSelect [options]="clients" [(ngModel)]="selectedRow.curentClient"
                     [selectionLimit]="1"
                     defaultLabel="اختر الزبون" optionLabel="name"></p-multiSelect>
    </div>
    <div *ngIf="selectedRow.owner == 'SUPPLIER'">
      <h6>المورد :</h6>
      <p-multiSelect [options]="suppliers" [(ngModel)]="selectedRow.curentSupplier"
                     [selectionLimit]="1"
                     defaultLabel="اختر المورد" optionLabel="name"></p-multiSelect>
    </div>
    <div class="form-group">
      <h6> المبلغ بالأوقية </h6>
      <input type="number" [(ngModel)]="selectedRow.amount" class="form-control" placeholder="المبلغ بالأوقية

">
    </div>
    <div class="form-group">
      <h6> المبلغ بالدرهم </h6>
      <input type="number" [(ngModel)]="selectedRow.devise" class="form-control" placeholder="  المبلغ بالدرهم  ">
    </div>

    <h6>الملاحظات :</h6>
    <textarea class="form-control" [(ngModel)]="selectedRow.note" id="exampleFormControlTextarea1" rows="3"></textarea>

  </div>
</div>
<div class="modal-footer">
  <a (click)="modal.dismiss()">
    <button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
      {{ "الغاء" | translate }}
    </button>
  </a>
  <a (click)="createOrder()">
    <button class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn"
            [disabled]="(!selectedRow.curentClient && !selectedRow.curentSupplier) || ( selectedRow.amount == 0 && selectedRow.devise == 0)">
      {{ "حفظ" | translate }}
    </button>
  </a>
</div>
