<div class="modal-header">
  <h4 class="modal-title"
      id="modal-title">{{ "فاتورة جديدة" | translate }}</h4>
  <button type="button" class="close" style="padding: 0px;margin: 0px;color: red" (click)="modal.close()">
    <span aria-hidden="true" float="left">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div style="float: right;" >
    <h3>المورد  : <select type="text" class="form-control"
                          placeholder="Category" [(ngModel)]="curentSupplier">
      <option [ngValue]="null" disabled>Choisir un fournisseur</option>
      <option *ngFor="let c of suppliers" [ngValue]="c">
        {{ c.name }}
      </option>
    </select> </h3>
  </div>
  <div style="float: left;" class="row">
    <h3>المنتجات  : <p-autoComplete [(ngModel)]="selectedCountries" (ngModelChange)="showItems()"
                                    [suggestions]="filteredCountries"
                                    (completeMethod)="filterCountry($event)" [multiple]="true">
    </p-autoComplete></h3>
  </div>
  <div style="padding: 10px;">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">المنتج</th>
        <th scope="col">الكمية</th>
        <th scope="col">سعر الفرد</th>
        <th scope="col">السعر الاجمالي</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let orderItem of order.orderItems">
        <th scope="row">{{orderItem.product.category.label}}({{orderItem.product.label}})</th>
        <td><input type="number" class="form-control-sm" [(ngModel)]="orderItem.quantity" (ngModelChange)="updatePrice(orderItem)" ></td>
        <td><input type="number" class="form-control-sm" [(ngModel)]="orderItem.purchasePrice" (ngModelChange)="updatePrice(orderItem)" ></td>
        <td>{{ orderItem.price }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><b>المجموع</b></td>
        <td><b>{{order.totalAmount}}</b></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <a (click)="modal.dismiss()">
    <button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
      {{ "الغاء" | translate }}
    </button>
  </a>
  <a (click)="createOrder()">
    <button class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn"
     [disabled]="order.orderItems.length == 0 || !curentSupplier">
      {{ "حفظ" | translate }}
    </button>
  </a>
</div>
