<div>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-title">{{ "المعلومات"  }}</h4>
    <button type="button" class="close" style="color: red;display: contents;" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="width: 100%;">
    <mf-dynamic-form class="form"
                     [form]="form"
                     [i18n]="i18n"
                     (formSubmitted)="submit($event)"
                     [suppressControls]="true"
    >
    </mf-dynamic-form>
  </div>
  <div class="modal-footer">
    <a (click)="activeModal.dismiss()">
      <button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
        {{ "الغاء" | translate }}
      </button>
    </a>
    <a (click)="triggerSubmit($event)">
      <button [disabled]="!isFormValid()"
              class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn"
      >
        {{ "حفظ" | translate }}
      </button>
    </a>
  </div>
</div>
