<div class="main-content">
  <div style="display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;">
    <div>
      <h2>Liste des avoirs : </h2>
    </div>
    <div>
      <button type="button" class="btn btn-success" (click)="newFacture()">Ajouter l'avoir</button>
    </div>
  </div>
  <div style="display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;">
    <div class="col-7">
      <ag-grid-angular
        [columnDefs]="gridOptions.columnDefs"
        [frameworkComponents]="frameworkComponents"
        [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)"
        [rowSelection]="rowSelection"
        [rowData]="rowData"
        (selectionChanged)="detail($event)"
        class="ag-theme-alpine">
      </ag-grid-angular>
    </div>
    <div class="col-5">
      <div class="form-group row" style="margin-top: 8px">
        <label class="col-sm-2 col-form-label-sm">Fournisseur</label>
        <div class="col-sm-8">
          <select type="text" class="form-control-sm"
                  placeholder="Category" [(ngModel)]="curentSupplier">
            <option [ngValue]="null" disabled>Choisir un fournisseur</option>
            <option *ngFor="let c of suppliers" [ngValue]="c">
              {{ c.name }}
            </option>
          </select>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-primary btn-sm ml-3" (click)="addElement()">
            <i class="fa fa-plus"></i></button>
        </div>
      </div>
      <div style="margin-top: 8px">
        <div class="form-group row" style="border: 1px solid #0c5460; padding: 6px;">
          <label class="col-sm-2 col-form-label-sm">Product</label>
          <div class="col-sm-4">
            <select type="text" [(ngModel)]="avoirItem.product" class="form-control-sm"
                    (ngModelChange)="appendCurentElement()" placeholder="Category">
              <option [ngValue]="null" disabled>Choose your product</option>
              <option *ngFor="let cat of products" [ngValue]="cat">
                {{cat?.label}}({{cat?.category?.label}})
              </option>
            </select>
          </div>
          <label class="col-sm-2 col-form-label-sm">Quantité</label>
          <div class="col-sm-4">
            <input type="number" [(ngModel)]="avoirItem.quantity" class="form-control-sm" placeholder="Numero de série">
          </div>
          <label class="col-sm-2 col-form-label-sm">Prix d'achat</label>
          <div class="col-sm-4">
            <input type="number" [(ngModel)]="avoirItem.price" class="form-control-sm" placeholder="Numero de série">
          </div>

        </div>
        <div class="form-group row" *ngIf="avoirItems.length != 0" style="border: 1px solid #0c5460;
max-height: 230px;
    contain: content;
    overflow-y: auto;">
          <div class="col-12 row" *ngFor="let order of avoirItems">
            <div class="col-4">{{order.product.label}}({{order.product.category.label}})</div>
            <div class="col-4">{{order.serie}}</div>
            <div class="col-4">{{order.price}}</div>
            <br>
          </div>
        </div>
      </div>
      <div>
        <b>Total amount</b>
        <b style="margin-left: 201px;">
          <input type="text" name="nameOfCompany" [(ngModel)]="totalAmount"/>
        </b>
      </div>


    </div>

  </div>

</div>
