<div style="flex-wrap: nowrap;padding: 10px">
  <div style="display: flex;justify-content: space-between;padding: 4px;">
    <h4>
      لائحة الأصناف
    </h4>
  </div>
  <app-header-buttons [buttons]="buttons"></app-header-buttons>
  <ag-grid-angular
    style="height: calc(100vh - 190px); width: 100%;"
    class="ag-theme-alpine"
    [frameworkComponents]="frameworkComponents"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    [enableRtl]="true"
    [rowSelection]="false"
    [rowData]="rowData"
  >
  </ag-grid-angular>
</div>
