﻿<alert></alert>
<div class="d-lg-flex half">
  <div class="bg order-1 order-md-2 col-md-7" style="background-image: url('../../../assets/images/background.jpg');"></div>
  <div class="contents order-2 order-md-1 col-md-5" style="background-color: rgba(235,235,235,0.25);">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7">
          <h3 style="color: #050505">إدارة محل الهواتف</h3>
          <p class="mb-4"style="color: black">تسجيل الدخول</p>
          <form class="p-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row mt-3">
              <div class="form-group col-md-12">
                <input
                  type="text"
                  formControlName="username"
                  class="form-control"
                  placeholder="الاسم"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                />
                <div
                  *ngIf="submitted && f.username.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.username.errors.required">
                    Username is required
                  </div>
                </div>
              </div>
              <div class="form-group col-md-12">
                <input
                  type="password"
                  formControlName="password"
                  class="form-control"
                  placeholder="الرقم السري"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                />
                <div
                  *ngIf="submitted && f.password.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.password.errors.required">
                    Password is required
                  </div>
                </div>
              </div>
              <div class="text-center col-md-12 mt-3 mb-0"
              >
                <button [disabled]="loading" class="btn custom-btn" style="color: white;background-color: #050505">
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                  الدخول
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
