<nav class="navbar navbar-light navbar-expand-sm bg-white shadow-sm">
  <div class="container-fluid">
    <span class="navbar-brand" *ngIf="!expanded">
      <a class="nav-item nav-link" routerLink="/">إدارة محل الهواتف</a>
    </span>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/adherants">الفواتير</a>
      <a class="nav-item nav-link" routerLink="/transaction">المعاملات</a>
      <a class="nav-item nav-link" routerLink="/stock">المخزن</a>
      <a class="nav-item nav-link" routerLink="/client">الزبناء</a>
      <a class="nav-item nav-link" routerLink="/supplier">الموردين</a>
      <a class="nav-item nav-link" routerLink="/order">الطلبيات</a>
      <a class="nav-item nav-link" routerLink="/product">المنتجات</a>
      <a class="nav-item nav-link" routerLink="/case">الصندوق</a>
      <a class="nav-item nav-link"></a>
      <a class="nav-item nav-link"></a>
      <a (click)="logout()" class="nav-item nav-link">الخروج</a>
    </div>
  </div>
</nav>
