<div style="display:flex;padding: 10px">
  <div class="col-md-8">
    <div style="display: flex;justify-content: space-between;
    padding: 10px;">
      <h4>لائحة المنتجات</h4>
    </div>
    <app-header-buttons [buttons]="buttons"></app-header-buttons>
    <ag-grid-angular
      style="height: calc(100vh - 180px); width: 100%;"
      class="ag-theme-alpine"
      [frameworkComponents]="frameworkComponents"
      [gridOptions]="gridOptions"
      (gridReady)="onGridReady($event)"
      (selectionChanged)="getSelectedRows()"
      [enableRtl]="true"
      [rowSelection]="false"
      [rowData]="rowData">
    </ag-grid-angular>
  </div>
  <div class="col-md-4">
    <app-category></app-category>
  </div>
</div>
