﻿<div class="app-container">
  <div *ngIf="token">
    <app-left-navbar (expandedEvent)="expandedEvent($event)">
    </app-left-navbar>
  </div>
  <div class="main-container flex-fill">
    <div *ngIf="token">
      <app-navbar [expanded]="expanded"></app-navbar>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
