
.header-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__buttons {
    padding-left: 5px;

    i {
      cursor: pointer;
      color: #2dabb6;
      padding: 3px;
      margin-right: 5px;
      font-size: 15px;

      &.disabled-icon {
        opacity: 0.4;
      }
    }
  }
}

.ag-header-buttons {
  width: 100%;
  height: 27px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  border: 1px #babfc7 solid;
  padding: 18px;
  border-bottom: 0;
  margin-bottom: -1px;

  button {
    background-color: unset;
    border: none;
    margin: 0 2px;
  }
}
