<div class="ag-header-buttons">
  <div class="header-buttons">
    <h5 *ngIf="title">{{title}}</h5>
    <div *ngIf="buttons" class="header-buttons__buttons">
      <ng-container *ngFor="let button of buttons">
        <i (click)="(!button.disabled ||
         (button.disabled && !button.disabled())) && button.fn()"
           [class.disabled-icon]="button.disabled && button.disabled()" [ngClass]="button.icon"
           [ngStyle]="button.style ? button.style : {}"
           [title]="button.title | translate "></i>
      </ng-container>
    </div>
  </div>
</div>
