<div class="modal-header">
  <h4 class="modal-title"
      id="modal-title">{{ "Nouveau adherant" | translate }}</h4>
  <button type="button" class="close" (click)="modal.close(MODALS.DISMISS)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <form [formGroup]="adherantForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Nom</label>
            <input type="text" class="form-control"
                   formControlName="nom"
                   placeholder="Nom" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Teléphone</label>
            <input type="text" class="form-control"
                   formControlName="telephone"
                   placeholder="Teléphone" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Nni</label>
            <input type="text" class="form-control"
                   formControlName="nni"
                   placeholder="Nni" />

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Cotiser</label>
            <select class="form-control" formControlName="cotiser">
              <option value="{{true}}">Oui</option>
              <option value="{{false}}">Non</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Voter</label>
            <select class="form-control" formControlName="voter" >
              <option value="{{true}}">Oui</option>
              <option value="{{false}}">Non</option>
            </select>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <input type="reset" class="btn btn-secondary" style="margin-right: 8px;" />
        <button (click)="onSubmit()"
          class="btn btn-primary">Save
        </button>
      </div>
    </form>
  </div>
</div>
