﻿<div class="row" style="padding: 25px;">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="info-box green-bg">
      <i class="fa fa-cubes"></i>
      <div class="count">  {{  receiptAmount }} أوقية</div>
      <div class="count"> {{ receiptDevise }} درهم</div>
      <div class="title">الدخل</div>
    </div>
  </div>
  <!--/.col-->

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="info-box dark-bg">
      <i class="fa fa-cubes"></i>
      <div class="count">  {{  expenditureAmount }} أوقية</div>
      <div class="count"> {{ expenditureDevise }} درهم</div>
      <div class="title">الصرف</div>
    </div>
    <!--/.info-box-->
  </div>
  <!--/.col-->
<!--
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="info-box green-bg">
      <i class="fa fa-cubes"></i>
      <div class="count">  {{  receiptAmount }} أوقية</div>
      <div class="count"> {{ receiptDevise }} درهم</div>
      <div class="title">الدخل</div>
    </div>
    &lt;!&ndash;/.info-box&ndash;&gt;
  </div>-->
  <!--/.col-->
</div>
<div class="row" style="padding: 25px;">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="info-box pink-bg">
      <i class="fa fa-arrow-up"></i>
      <div class="count">{{detteFactures}} درهم</div>
      <div class="title">دين الزبناء</div>
    </div>
    <!--/.info-box-->
  </div>
  <!--/.col-->

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="info-box brown-bg">
      <i class="fa fa-arrow-down"></i>
      <div class="count">{{detteCommandes}}</div>
      <div class="title">دين الموردين</div>
    </div>
    <!--/.info-box-->
  </div>
</div>

