<div class="modal-header">
  <h4 class="modal-title"
      id="modal-title">{{ "حساب الزبون" | translate }}</h4>
  <button type="button" class="close" style="padding: 0px;margin: 0px;color: red" (click)="modal.close()">
    <span aria-hidden="true" float="left">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div id="demo" style="max-height: 400px;overflow-y: scroll;">


    <div style="display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;">
      <div>
        <h6>من</h6>
        <input type="date" name="dateDebut" [(ngModel)]="dateDebut" (ngModelChange)="updateDate()"/>
        <h6>الى</h6>
        <input type="date" name="dateFin" [(ngModel)]="dateFin" (ngModelChange)="updateDate()"/>
      </div>
      <div>
        <img src="../../../../assets/images/new_logo.png" style="max-height: 120px;
    max-width: 120px;
    margin-bottom: 20px;">
      </div>
      <div>
        <h6>{{selectedRow?.name}} : الزبون </h6>
      </div>
    </div>

    <div>
      <table style="width: 100%;
  border-collapse: collapse;">
        <tr>
          <th style="border: 1px solid black;"> المبلغ بالأوقية</th>
          <th style="border: 1px solid black;">المبلغ بالدرهم</th>
          <th style="border: 1px solid black;">الملاحظة</th>
          <th style="border: 1px solid black;">الملكية</th>
          <th style="border: 1px solid black;">التاريخ</th>
        </tr>
        <tr>
          <td style="border: 1px solid black;"><b>{{totalAmountBefor}}</b></td>
          <td style="border: 1px solid black;"><b>{{totalDeviseBefor}}</b></td>
          <td style="border: 1px solid black;"><b>المجموع قبل</b></td>
          <td style="border: 1px solid black;"></td>
          <td style="border: 1px solid black;"></td>
        </tr>
        <tr *ngFor="let orderItem of transactionItemsFiltered">
          <th style="border: 1px solid black;" scope="row">{{orderItem.amount}}</th>
          <th style="border: 1px solid black;" scope="row">{{orderItem.devise}}</th>
          <td style="border: 1px solid black;">{{orderItem.note}}</td>
          <td style="border: 1px solid black;">{{orderItem.toMe ? 'لصالح الموسسة' : 'ليست لصالح الموسسة'}}</td>
          <td style="border: 1px solid black;">{{ orderItem.dateCreation }}</td>
        </tr>
        <tr>
          <td style="border: 1px solid black;"><b>{{totalAmount}}</b></td>
          <td style="border: 1px solid black;"><b>{{totalDevise}}</b></td>
          <td style="border: 1px solid black;"><b>المجموع</b></td>
          <td style="border: 1px solid black;"></td>
          <td style="border: 1px solid black;"></td>
        </tr>
      </table>
    </div>
  </div>
  <button class="btn btn-primary" printSectionId="demo" ngxPrint>{{downloadPdf}}</button>
</div>
