<div class="main-content">
  <div style="display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;">
    <div>
      <h2 style="color: black">لائحة المعاملات :</h2>
    </div>
    <div>
      <button type="button" class="btn btn-success" (click)="newTransaction()">معاملة جديدة</button>
    </div>
  </div>
  <div>
    <app-header-buttons [buttons]="buttons"></app-header-buttons>
    <ag-grid-angular
      [columnDefs]="gridOptions.columnDefs"
      [frameworkComponents]="frameworkComponents"
      [gridOptions]="gridOptions"
      (gridReady)="onGridReady($event)"
      [rowSelection]="rowSelection"
      [rowData]="rowData"
      [enableRtl]="true"
      class="ag-theme-alpine">
    </ag-grid-angular>
  </div>

</div>
