<div class="action-bar" [class.action-bar-expanded]="expanded">
  <app-action-bar-item [shadow]="true" (click)="expandedLeftNavBar()">
    <span
      [class]="expanded ? 'action-bar-item-icon jam jam-bar-chart transform-rotate-90' : 'action-bar-item-icon jam jam-bar-chart'">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </span>
    <span class="action-bar-item-text">إدارة محل الهواتف</span>
  </app-action-bar-item>
  <ng-content>

  </ng-content>
</div>
