<div class="modal-header">
  <h4 class="modal-title"
      id="modal-title">{{ "فاتورة جديدة" | translate }}</h4>
  <button type="button" class="close" style="padding: 0px;margin: 0px;color: red" (click)="modal.close()">
    <span aria-hidden="true" float="left">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div style="display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    float: right;margin-bottom: 4px;">
    <h6>الزبون :</h6>
    <p-multiSelect [options]="clients" [(ngModel)]="curentClient"
                   [selectionLimit]="1"
                   defaultLabel="اختر الزبون" optionLabel="name"></p-multiSelect>


    <h6>المنتجات :</h6>
    <p-autoComplete [(ngModel)]="selectedCountries" (ngModelChange)="showItems()"
                    [suggestions]="filteredCountries"
                    (completeMethod)="filterCountry($event)" [multiple]="true">
    </p-autoComplete>
    <h6>الملاحظات :</h6>
    <textarea class="form-control" [(ngModel)]="note" id="exampleFormControlTextarea1" rows="3"></textarea>

  </div>

  <div style="padding: 10px;">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">المنتج</th>
        <th scope="col">الكمية</th>
        <th scope="col">سعر الفرد</th>
        <th scope="col">السعر الاجمالي</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let invoiceItem of invoice.invoiceItems">
        <th scope="row">{{invoiceItem.product.category.label}}({{invoiceItem.product.label}})</th>
        <td><input type="number" class="form-control-sm" [(ngModel)]="invoiceItem.quantity"
                   (ngModelChange)="updatePrice(invoiceItem)"></td>
        <td><input type="number" class="form-control-sm" [(ngModel)]="invoiceItem.salePrice"
                   (ngModelChange)="updatePrice(invoiceItem)"></td>
        <td>{{ invoiceItem.quantity * invoiceItem.salePrice }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><b>المجموع</b></td>
        <td><b>{{invoice.totalAmount}}</b></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <a (click)="modal.dismiss()">
    <button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
      {{ "الغاء" | translate }}
    </button>
  </a>
  <a (click)="createOrder()">
    <button class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn"
            [disabled]="invoice.invoiceItems.length == 0 || !curentClient || maxQuantity">
      {{ "حفظ" | translate }}
    </button>
  </a>
</div>
