::ng-deep .ui-multiselect-label-container .ng-tns-c174-0 {
  min-width: 300px;
}

::ng-deep .body .ui-multiselect .ui-multiselect-label {
  padding: 0.429em;
  padding-right: 10em;
}

::ng-deep .ng-tns-c174-1 .ui-multiselect .ui-widget .ui-state-default .ui-corner-all {
  min-width: 300px;
}


