<div class="modal-header">
  <h4 class="modal-title"
      id="modal-title">{{ "تفاصيل الطلبية" | translate }}</h4>
  <button type="button" class="close" style="margin: 0px;padding: 0px;color: red" (click)="modal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div style="float: right">
    المورد : <h3>{{selectedRow.supplier.name}}</h3>
  </div>
  <div style="padding: 10px;">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">المنتج</th>
        <th scope="col">الكمية</th>
        <th scope="col">سعر الشراء </th>
        <th scope="col" *ngIf="selectedRow.status !== 'STOCK'">سعر البيع</th>
        <th scope="col">السعر الاجمالي</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let orderItem of orderItems">
        <th scope="row">{{orderItem.product.category.label}}({{orderItem.product.label}})</th>
        <td>{{orderItem.quantity}}</td>
        <td>{{orderItem.purchasePrice}}</td>
        <td *ngIf="selectedRow.status !== 'STOCK'"><input type="number" [(ngModel)]="orderItem.salePrice" class="form-control-sm" placeholder="Prix de vente">
        </td>
        <td>{{ orderItem.purchasePrice * orderItem.quantity }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><b>المجموع</b></td>
        <td><b>{{selectedRow.totalAmount}}</b></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button type="button" class="btn btn-success" (click)="validOrder()" [disabled]="selectedRow.status == 'STOCK'">Valider la commande</button>
  </div>
</div>
