<div class="card p-4">
  <div style="float: right">
   <h3 style="float: inherit;">{{pageTitle}}</h3>
  </div>

  <div class="card-body">
    <div style="display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;">
      <div class="table-responsive col-7">
        <table class="table">
          <thead>
          <tr>
            <th>المنتج</th>
            <th>الكمية</th>
            <th>الكمية المبيعة</th>
            <th>الكمية المردودة</th>
            <th>سعر البيع</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let stock of filteredStocks">
            <td>{{stock.product.label}}({{stock.product.category.label}})</td>
            <td>{{ stock.quantity }}</td>
            <td>{{ stock.quantitySold }}</td>
            <td>{{ stock.returnedQuantity }}</td>
            <td>{{ stock.salePrice }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
